.about-wrapper{
   .about-intro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background:  rgba(252, 217, 224, 0.5);
    padding: 7rem;
    h3{
        font-family: var(--home-font2);
        font-weight: 700;
        font-size: 32px;
        margin: 1rem 0;
    }
    p{
        font-family: var(--basic-font);
        font-weight: 500;
        line-height: 30px;
    }
   }
.to-book{
    .heading{
  margin: 2rem ;

        h2{
            font-family: var(--home-font2);
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            // color: #0A0F0D;
        }
        p{
            font-family: var(--basic-font);
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            // color: #0A0F0D;
        }
    }



    .about-flow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-family: var(--basic-font);
        font-size: 10px;
        margin: 5rem;
       
        div:nth-of-type(1) {
          background: #3fdf6c;
          color: #ffffff;
          padding: 100px 40px ;
          border-radius: 40px;
          flex: 1;
          max-width: 367px;
          height: 300px;
        }
        div:nth-of-type(2) {
          background: #2a1e5c;
          color: #ffffff;
          padding: 100px 40px ;
          border-radius: 40px;
          flex: 1;
          max-width: 367px;
          
          height: 300px;


        }
        div:nth-of-type(3) {
            flex: 1;
          background: var(--secondary-color);
          color: #ffffff;
          padding: 100px 40px ;
          border-radius: 40px;
            max-width: 367px;
            height: 300px;

        }
      }


    }
    .create-flow{
      .header{
          h2{
              font-family: var(--home-font2);
              font-weight: 700;
              font-size: 32px;
              text-align: center;
          }
      }
      p{
        font-family: var(--basic-font);
        font-weight: 500;
        font-size: 16px;
        color: #5C5F5E;
        text-align: center;
        margin: 1rem;
      }

      .create{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 2rem ;
          margin: 2rem;
          text-align:left;
          span{
            display: flex;
            gap: 17px;
            align-items: center;
            font-weight: 700;
            font-family: var(--basic-font);

          }
          h4{
            padding: 1rem 2rem;
            line-height: 32px;
            font-family: var(--basic-font);
            font-weight: 400;
          }
          
          div:nth-of-type(1){
            background:#2A1E5C;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          
          }
          div:nth-of-type(2){
            background:#23194D;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          
          }
          div:nth-of-type(3){
            background: #3fdf6c;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          
          }
          div:nth-of-type(4){
            background:#1C143D;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          
          }
          div:nth-of-type(5){
            background: #150F2E;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          
          }
          div:nth-of-type(6){
            background:#EE4266;
            color: #ffffff;
          padding: 60px 30px;
          border-radius: 20px;
          span{
            display: flex;
            gap: 17px;
            align-items: center;
            font-weight: 700;
            font-family: var(--basic-font);

          }
          h4{
            padding: 1rem 2rem;
            line-height: 32px;
            font-family: var(--basic-font);
            font-weight: 400;
          }
          }
      }
    }
}