.contact-container {
  .contact-hero {
    background-image: url("/src/assets/contactImageBG.png"),
      url("/src/assets/contactImage.png");
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    padding: 10rem;
    color: #fff;
    h2 {
      font-family: var(--home-font2);
      font-weight: 700;
      font-size: 32px;
      margin: 0.5em auto;
    }
    p {
      font-family: var(--basic-font);
      font-size: 16px;
      line-height: 19px;
    }
  }
  .contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 2em 5em;
    gap: 5em;
    .locate {
      
        position: relative;
        .map {
            position: absolute;
            top: -3em;
            right: -15em;
            // max-width: 100%;
            z-index: -1;
            width: 200%;
            height: 150%;
            }
      h3 {
        font-family: var(--basic-font);
        font-weight: 700;
        font-size: 24px;
      }
      .contact {
        div {
          display: flex;
          align-items: center;
          gap: 1em;
          margin: 1em 0;
          p {
            font-family: var(--basic-font);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            img {
              width: 17px;
            }
          }
        }
      }
      h2 {
        font-family: var(--basic-font);
        font-weight: 700;
        font-size: 24px;
        margin: 2em 0;
      }
    }
  }
  .contact-form{
    position: relative;
    top: -8em;
    background: #FFFFFF;
        border: 1px solid #E5E5E5;
        padding: 5rem 3rem;
        border-radius: 40px;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
  h2{
            font-family: var(--basic-font);
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin: 1rem 0;
  }
  p{
            font-family: var(--basic-font);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #5C5F5E;
  }
        .form{
            display: flex;
            flex-direction: column;
            gap: 1em;
            .form-control{
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                label{
                    font-family: var(--basic-font);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #5C5F5E;
                }
                input{
                    border: 1px solid #E5E5E5;
                    border-radius: 40px;
                    padding: 1em;
                    font-family: var(--basic-font);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #5C5F5E;
                    max-width: 383px;
                    margin: 1em 0;
                    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);

                }

            }
            .submit{
                background: var(--secondary-color);
                    border-radius: 8px;
                    border: none;
                    padding: 1em 2em;
                    font-family: var(--basic-font);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    cursor: pointer;
                    max-width: 383px;

            }
        }
  }
}
