@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

:root{
   
    --nav-font: "Raleway", sans-serif;
    --nav-font-weight: 500;
    --nav-font-weight1: 700;
    --nav-font-weight2: 600;
}
.footer-container{
    
    background-color: #23194D;
    padding: 3.5rem;
    color: #fff;
    font-family: var(--nav-font);
    .footer{
        max-width: 1320px;
    display:grid;

    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
.word{
    h1{
        margin: 1.8rem auto;
    }
    p{
        width: 60%;
        margin-bottom: 1em;
        line-height: 27px;
    }
    .socials{
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 20px;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: var(--nav-font-weight);
          
        }

    }
}
.contact{
    h1{
        margin: 1.8rem auto;
    }
    p{
        width: 60%;
        margin-bottom: 1em;
        line-height: 27px;
    }
}

.links{
    h1{
        margin: 1.8rem auto;
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 1em;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
                font-weight: var(--nav-font-weight);
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: var(--secondary-color);
                  }
            }
        }
    }
    }
}
}
.rights{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #fff;
  padding: 1.5rem;
  color: #2A1E5C;
  font-family: var(--basic-font);
  h3{

      font-weight: 400;
      .district{
        font-weight: 700;
      }
  }

}

